
appdata/RenPy/backups/install/cgs.5d079d865a18d674.rpy
appdata/RenPy/backups/install/console.f67ed63cbd46bb75.rpy
appdata/RenPy/backups/install/credits.250775e11652eced.rpy
appdata/RenPy/backups/install/definitions.1dd0ffab3a07ba72.rpy
appdata/RenPy/backups/install/effects.54397e9ab6a4036d.rpy
appdata/RenPy/backups/install/glitchtext.b57be21b311fa389.rpy
appdata/RenPy/backups/install/gui.cc4f001281a5a94a.rpy
appdata/RenPy/backups/install/options.d71b30f5fbf7e1f1.rpy
appdata/RenPy/backups/install/poems.393d6f27163f8513.rpy
appdata/RenPy/backups/install/poems_special.d59172228803c401.rpy
appdata/RenPy/backups/install/screens.b6b88d13cbc226c2.rpy
appdata/RenPy/backups/install/script-ch0.1da812fdbe1e345e.rpy
appdata/RenPy/backups/install/script-ch0.216cf5a97dbb8f34.rpy
appdata/RenPy/backups/install/script-ch0.6244179b0094ffa4.rpy
appdata/RenPy/backups/install/script-ch0.6f198d4afbe58172.rpy
appdata/RenPy/backups/install/script-ch0.6f623710d4492a27.rpy
appdata/RenPy/backups/install/script-ch0.7ab511ee1f0f4df5.rpy
appdata/RenPy/backups/install/script-ch0.7fc07ae90d89e166.rpy
appdata/RenPy/backups/install/script-ch0.85d4f34dc034640c.rpy
appdata/RenPy/backups/install/script-ch0.86fe55ae31f4bf02.rpy
appdata/RenPy/backups/install/script-ch0.883811ad787d49af.rpy
appdata/RenPy/backups/install/script-ch0.d84642d21d0e1c1f.rpy
appdata/RenPy/backups/install/script-ch0.e26745a480851d16.rpy
appdata/RenPy/backups/install/script-ch1.690d4121dd1c7543.rpy
appdata/RenPy/backups/install/script-ch10.460e5d94cb76ade7.rpy
appdata/RenPy/backups/install/script-ch2.b9e62d7afad24c67.rpy
appdata/RenPy/backups/install/script-ch20.76912514615e98f7.rpy
appdata/RenPy/backups/install/script-ch21.60eece5aadb829da.rpy
appdata/RenPy/backups/install/script-ch22.2b1418a9fe81ec89.rpy
appdata/RenPy/backups/install/script-ch23.f681ab8061204457.rpy
appdata/RenPy/backups/install/script-ch3.c426ca8c36571a32.rpy
appdata/RenPy/backups/install/script-ch30.739ab0fcd9501f4b.rpy
appdata/RenPy/backups/install/script-ch4.7391e981b10c32c1.rpy
appdata/RenPy/backups/install/script-ch40.6f698710ab64809d.rpy
appdata/RenPy/backups/install/script-ch5.ad4d94332d347690.rpy
appdata/RenPy/backups/install/script-exclusives-natsuki.0d554a1dc6be130b.rpy
appdata/RenPy/backups/install/script-exclusives2-natsuki.0d8807ea23cccfe7.rpy
appdata/RenPy/backups/install/script-exclusives-yuri.ba5cc94be18f97cc.rpy
appdata/RenPy/backups/install/script-exclusives-sayori.e023d3319c679288.rpy
appdata/RenPy/backups/install/script-exclusives2-yuri.1bda9c7ed4dffb69.rpy
appdata/RenPy/backups/install/script-poemgame.fb5d6927a7d61577.rpy
appdata/RenPy/backups/install/script-poemresponses.ed1cade86b8e64d8.rpy
appdata/RenPy/backups/install/script-poemresponses2.1fa58997898abfcb.rpy
appdata/RenPy/backups/install/script.532dace38c2424df.rpy
appdata/RenPy/backups/install/script.edb59094af663b24.rpy
appdata/RenPy/backups/install/splash.b3bb7585283a3839.rpy
appdata/RenPy/backups/install/transforms.341450beef114cb1.rpy
appdata/RenPy/DDLC-1454445547/auto-1-LT1.save
appdata/RenPy/DDLC-1454445547/persistent
game/script-ch1-og.rpy
game/script-ch2-og.rpy
game/script-ch3-og.rpy
game/script-ch40-og.rpy
install.json
characters/monika.chr
characters/natsuki.chr
characters/monika.chr
*.chr
DDLC Existence.zip
appdata/RenPy/backups/install/script-ch40.0d54c0a155d05864.rpy
appdata/RenPy/backups/install/script-ch2.77314f4c379eaf5c.rpy
appdata/RenPy/backups/install/script-ch1.24e6c43662b0cd8a.rpy
install/DDLC.exe
install/DDLC.py
install/DDLC.sh
install/COPYRIGHT.txt
install/game/cache/bytecode.rpyb
install/game/cache/pyanalysis.rpyb
install/game/cache/screens.rpyb
*.rpa
*.rpyc
install/game/python-packages/singleton.py
install/lib/linux-i686/DDLC
*.egg
*.pyo
*.so
install/lib/linux-i686/lib/python2.7/lib-dynload/dynload.txt
install/lib/linux-i686/libavcodec.so.57
install/lib/linux-i686/libavformat.so.57
install/lib/linux-i686/libavresample.so.3
install/lib/linux-i686/libavutil.so.55
install/lib/linux-i686/libfreetype.so.6
install/lib/linux-i686/libGLEW.so.1.7
install/lib/linux-i686/libjpeg.so.62
install/lib/linux-i686/libpng12.so.0
install/lib/linux-i686/libpython2.7.so.1.0
install/lib/linux-i686/libSDL2-2.0.so.0
install/lib/linux-i686/libSDL2_image-2.0.so.0
install/lib/linux-i686/libSDL2_ttf-2.0.so.0
install/lib/linux-i686/libswresample.so.2
install/lib/linux-i686/libswscale.so.4
install/lib/linux-i686/libz.so.1
install/lib/linux-i686/python
install/lib/linux-i686/pythonw
install/lib/linux-i686/zsync
install/lib/linux-i686/zsyncmake
install/lib/linux-x86_64/DDLC
install/lib/linux-x86_64/lib/python2.7/lib-dynload/dynload.txt
install/lib/linux-x86_64/libavcodec.so.57
install/lib/linux-x86_64/libavformat.so.57
install/lib/linux-x86_64/libavresample.so.3
install/lib/linux-x86_64/libavutil.so.55
install/lib/linux-x86_64/libfreetype.so.6
install/lib/linux-x86_64/libGLEW.so.1.7
install/lib/linux-x86_64/libjpeg.so.62
install/lib/linux-x86_64/libpng12.so.0
install/lib/linux-x86_64/libpython2.7.so.1.0
install/lib/linux-x86_64/libSDL2-2.0.so.0
install/lib/linux-x86_64/libSDL2_image-2.0.so.0
install/lib/linux-x86_64/libSDL2_ttf-2.0.so.0
install/lib/linux-x86_64/libswresample.so.2
install/lib/linux-x86_64/libswscale.so.4
install/lib/linux-x86_64/libz.so.1
install/lib/linux-x86_64/python
install/lib/linux-x86_64/pythonw
install/lib/linux-x86_64/zsync
install/lib/linux-x86_64/zsyncmake
install/lib/windows-i686/avcodec-57.dll
install/lib/windows-i686/avformat-57.dll
install/lib/windows-i686/avutil-55.dll
install/lib/windows-i686/DDLC.exe
install/lib/windows-i686/dxwebsetup.exe
install/lib/windows-i686/glew32.dll
install/lib/windows-i686/Lib/_ctypes.pyd
install/lib/windows-i686/Lib/_hashlib.pyd
install/lib/windows-i686/Lib/_renpy.pyd
install/lib/windows-i686/Lib/_renpybidi.pyd
install/lib/windows-i686/Lib/_socket.pyd
install/lib/windows-i686/Lib/bz2.pyd
install/lib/windows-i686/Lib/lib-dynload/dynload.txt
install/lib/windows-i686/Lib/pyexpat.pyd
install/lib/windows-i686/Lib/pygame_sdl2/color.pyd
install/lib/windows-i686/Lib/pygame_sdl2/controller.pyd
install/lib/windows-i686/Lib/pygame_sdl2/display.pyd
install/lib/windows-i686/Lib/pygame_sdl2/draw.pyd
install/lib/windows-i686/Lib/pygame_sdl2/error.pyd
install/lib/windows-i686/Lib/pygame_sdl2/event.pyd
install/lib/windows-i686/Lib/pygame_sdl2/font.pyd
install/lib/windows-i686/Lib/pygame_sdl2/gfxdraw.pyd
install/lib/windows-i686/Lib/pygame_sdl2/image.pyd
install/lib/windows-i686/Lib/pygame_sdl2/joystick.pyd
install/lib/windows-i686/Lib/pygame_sdl2/key.pyd
install/lib/windows-i686/Lib/pygame_sdl2/locals.pyd
install/lib/windows-i686/Lib/pygame_sdl2/mouse.pyd
install/lib/windows-i686/Lib/pygame_sdl2/pygame_time.pyd
install/lib/windows-i686/Lib/pygame_sdl2/rect.pyd
install/lib/windows-i686/Lib/pygame_sdl2/rwobject.pyd
install/lib/windows-i686/Lib/pygame_sdl2/scrap.pyd
install/lib/windows-i686/Lib/pygame_sdl2/surface.pyd
install/lib/windows-i686/Lib/pygame_sdl2/transform.pyd
install/lib/windows-i686/Lib/renpy/angle/gl.pyd
install/lib/windows-i686/Lib/renpy/angle/gldraw.pyd
install/lib/windows-i686/Lib/renpy/angle/glenviron_shader.pyd
install/lib/windows-i686/Lib/renpy/angle/glrtt_copy.pyd
install/lib/windows-i686/Lib/renpy/angle/glrtt_fbo.pyd
install/lib/windows-i686/Lib/renpy/angle/gltexture.pyd
install/lib/windows-i686/Lib/renpy/audio/renpysound.pyd
install/lib/windows-i686/Lib/renpy/display/accelerator.pyd
install/lib/windows-i686/Lib/renpy/display/render.pyd
install/lib/windows-i686/Lib/renpy/gl/gl.pyd
install/lib/windows-i686/Lib/renpy/gl/gl1.pyd
install/lib/windows-i686/Lib/renpy/gl/gldraw.pyd
install/lib/windows-i686/Lib/renpy/gl/glenviron_fixed.pyd
install/lib/windows-i686/Lib/renpy/gl/glenviron_limited.pyd
install/lib/windows-i686/Lib/renpy/gl/glenviron_shader.pyd
install/lib/windows-i686/Lib/renpy/gl/glrtt_copy.pyd
install/lib/windows-i686/Lib/renpy/gl/glrtt_fbo.pyd
install/lib/windows-i686/Lib/renpy/gl/gltexture.pyd
install/lib/windows-i686/Lib/renpy/style.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_activate_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_hover_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_idle_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_insensitive_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_selected_activate_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_selected_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_selected_hover_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_selected_idle_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/style_selected_insensitive_functions.pyd
install/lib/windows-i686/Lib/renpy/styledata/styleclass.pyd
install/lib/windows-i686/Lib/renpy/styledata/stylesets.pyd
install/lib/windows-i686/Lib/renpy/text/ftfont.pyd
install/lib/windows-i686/Lib/renpy/text/textsupport.pyd
install/lib/windows-i686/Lib/renpy/text/texwrap.pyd
install/lib/windows-i686/Lib/select.pyd
install/lib/windows-i686/Lib/unicodedata.pyd
install/lib/windows-i686/libEGL.dll
install/lib/windows-i686/libfreetype-6.dll
install/lib/windows-i686/libgcc_s_sjlj-1.dll
install/lib/windows-i686/libGLESv2.dll
install/lib/windows-i686/libjpeg-62.dll
install/lib/windows-i686/libpng-3.dll
install/lib/windows-i686/libwinpthread-1.dll
install/lib/windows-i686/Microsoft.VC90.CRT.manifest
install/lib/windows-i686/msvcr90.dll
install/lib/windows-i686/python.exe
install/lib/windows-i686/python27.dll
install/lib/windows-i686/pythonw.exe
install/lib/windows-i686/say.vbs
install/lib/windows-i686/SDL2.dll
install/lib/windows-i686/SDL2_image.dll
install/lib/windows-i686/SDL2_ttf.dll
install/lib/windows-i686/swresample-2.dll
install/lib/windows-i686/swscale-4.dll
install/lib/windows-i686/zlib1.dll
install/lib/windows-i686/zsync.exe
install/lib/windows-i686/zsyncmake.exe
install/README.html
install/log.txt
install/renpy/__init__.py
install/renpy/add_from.py
install/renpy/angle/__init__.py
install/renpy/angle/gl.pxd
install/renpy/angle/gl.pyx
install/renpy/angle/glblacklist.py
install/renpy/angle/gldraw.pxd
install/renpy/angle/gldraw.pyx
install/renpy/angle/glenviron_shader.pyx
install/renpy/angle/glrtt_copy.pyx
install/renpy/angle/glrtt_fbo.pyx
install/renpy/angle/gltexture.pxd
install/renpy/angle/gltexture.pyx
install/renpy/arguments.py
install/renpy/ast.py
install/renpy/atl.py
install/renpy/audio/__init__.py
install/renpy/audio/androidhw.py
install/renpy/audio/audio.py
install/renpy/audio/ioshw.py
install/renpy/audio/music.py
install/renpy/audio/renpysound.pyx
install/renpy/audio/sound.py
install/renpy/bootstrap.py
install/renpy/character.py
install/renpy/color.py
install/renpy/common/000atl.rpy
install/renpy/common/000namespaces.rpy
install/renpy/common/000statements.rpy
install/renpy/common/000window.rpy
install/renpy/common/00achievement.rpy
install/renpy/common/00action_audio.rpy
install/renpy/common/00action_control.rpy
install/renpy/common/00action_data.rpy
install/renpy/common/00action_file.rpy
install/renpy/common/00action_menu.rpy
install/renpy/common/00action_other.rpy
install/renpy/common/00barvalues.rpy
install/renpy/common/00build.rpy
install/renpy/common/00compat.rpy
install/renpy/common/00console.rpy
install/renpy/common/00defaults.rpy
install/renpy/common/00definitions.rpy
install/renpy/common/00gallery.rpy
install/renpy/common/00gamemenu.rpy
install/renpy/common/00gamepad.rpy
install/renpy/common/00gltest.rpy
install/renpy/common/00gui.rpy
install/renpy/common/00iap.rpy
install/renpy/common/00icon.rpy
install/renpy/common/00iconbutton.rpy
install/renpy/common/00images.rpy
install/renpy/common/00inputvalues.rpy
install/renpy/common/00keymap.rpy
install/renpy/common/00layout.rpy
install/renpy/common/00library.rpy
install/renpy/common/00mixers.rpy
install/renpy/common/00musicroom.rpy
install/renpy/common/00nvl_mode.rpy
install/renpy/common/00obsolete.rpy
install/renpy/common/00placeholder.rpy
install/renpy/common/00preferences.rpy
install/renpy/common/00sideimage.rpy
install/renpy/common/00splines.rpy
install/renpy/common/00start.rpy
install/renpy/common/00style.rpy
install/renpy/common/00stylepreferences.rpy
install/renpy/common/00themes.rpy
install/renpy/common/00updater.rpy
install/renpy/common/00voice.rpy
install/renpy/common/_developer.rpymc
install/renpy/common/_developer/developer.rpym
install/renpy/common/_developer/developer.rpymc
install/renpy/common/_developer/inspector.rpym
install/renpy/common/_developer/inspector.rpymc
install/renpy/common/_errorhandling.rpym
install/renpy/common/_errorhandling.rpymc
install/renpy/common/_layout/classic_joystick_preferences.rpym
install/renpy/common/_layout/classic_joystick_preferences.rpymc
install/renpy/common/_layout/classic_load_save.rpym
install/renpy/common/_layout/classic_load_save.rpymc
install/renpy/common/_layout/classic_main_menu.rpym
install/renpy/common/_layout/classic_main_menu.rpymc
install/renpy/common/_layout/classic_navigation.rpym
install/renpy/common/_layout/classic_navigation.rpymc
install/renpy/common/_layout/classic_preferences.rpym
install/renpy/common/_layout/classic_preferences.rpymc
install/renpy/common/_layout/classic_preferences_common.rpym
install/renpy/common/_layout/classic_preferences_common.rpymc
install/renpy/common/_layout/classic_yesno_prompt.rpym
install/renpy/common/_layout/classic_yesno_prompt.rpymc
install/renpy/common/_layout/grouped_main_menu.rpym
install/renpy/common/_layout/grouped_navigation.rpym
install/renpy/common/_layout/imagemap_common.rpym
install/renpy/common/_layout/imagemap_common.rpymc
install/renpy/common/_layout/imagemap_load_save.rpym
install/renpy/common/_layout/imagemap_load_save.rpymc
install/renpy/common/_layout/imagemap_main_menu.rpym
install/renpy/common/_layout/imagemap_main_menu.rpymc
install/renpy/common/_layout/imagemap_navigation.rpym
install/renpy/common/_layout/imagemap_navigation.rpymc
install/renpy/common/_layout/imagemap_preferences.rpym
install/renpy/common/_layout/imagemap_preferences.rpymc
install/renpy/common/_layout/imagemap_yesno_prompt.rpym
install/renpy/common/_layout/imagemap_yesno_prompt.rpymc
install/renpy/common/_layout/one_column_preferences.rpym
install/renpy/common/_layout/screen_joystick_preferences.rpym
install/renpy/common/_layout/screen_joystick_preferences.rpymc
install/renpy/common/_layout/screen_load_save.rpym
install/renpy/common/_layout/screen_load_save.rpymc
install/renpy/common/_layout/screen_main_menu.rpym
install/renpy/common/_layout/screen_main_menu.rpymc
install/renpy/common/_layout/screen_preferences.rpym
install/renpy/common/_layout/screen_preferences.rpymc
install/renpy/common/_layout/screen_yesno_prompt.rpym
install/renpy/common/_layout/screen_yesno_prompt.rpymc
install/renpy/common/_layout/scrolling_load_save.rpym
install/renpy/common/_layout/scrolling_load_save.rpymc
install/renpy/common/_layout/two_column_preferences.rpym
install/renpy/common/_layout/two_column_preferences.rpymc
install/renpy/common/_placeholder/boy.png
install/renpy/common/_placeholder/girl.png
install/renpy/common/_silence.ogg
install/renpy/common/_transparent_tile.png
install/renpy/common/_tv_unsafe.png
install/renpy/common/blindstile.png
install/renpy/common/DejaVuSans-Bold.ttf
install/renpy/common/DejaVuSans.ttf
install/renpy/common/DejaVuSans.txt
install/renpy/common/gamecontrollerdb.txt
install/renpy/common/squarestile.png
install/renpy/config.py
install/renpy/curry.py
install/renpy/defaultstore.py
install/renpy/display/__init__.py
install/renpy/display/accelerator.pyx
install/renpy/display/anim.py
install/renpy/display/behavior.py
install/renpy/display/controller.py
install/renpy/display/core.py
install/renpy/display/dragdrop.py
install/renpy/display/emulator.py
install/renpy/display/error.py
install/renpy/display/focus.py
install/renpy/display/gesture.py
install/renpy/display/im.py
install/renpy/display/image.py
install/renpy/display/imagelike.py
install/renpy/display/imagemap.py
install/renpy/display/joystick.py
install/renpy/display/layout.py
install/renpy/display/minigame.py
install/renpy/display/module.py
install/renpy/display/motion.py
install/renpy/display/movetransition.py
install/renpy/display/particle.py
install/renpy/display/pgrender.py
install/renpy/display/predict.py
install/renpy/display/presplash.py
install/renpy/display/render.pxd
install/renpy/display/render.pyx
install/renpy/display/scale.py
install/renpy/display/screen.py
install/renpy/display/swdraw.py
install/renpy/display/transform.py
install/renpy/display/transition.py
install/renpy/display/tts.py
install/renpy/display/video.py
install/renpy/display/viewport.py
install/renpy/dump.py
install/renpy/easy.py
install/renpy/editor.py
install/renpy/error.py
install/renpy/execution.py
install/renpy/exports.py
install/renpy/game.py
install/renpy/gl/__init__.py
install/renpy/gl/gl.pxd
install/renpy/gl/gl.pyx
install/renpy/gl/gl1.pxd
install/renpy/gl/gl1.pyx
install/renpy/gl/glblacklist.py
install/renpy/gl/gldraw.pxd
install/renpy/gl/gldraw.pyx
install/renpy/gl/glenviron_fixed.pyx
install/renpy/gl/glenviron_limited.pyx
install/renpy/gl/glenviron_shader.pyx
install/renpy/gl/glrtt_copy.pyx
install/renpy/gl/glrtt_fbo.pyx
install/renpy/gl/gltexture.pxd
install/renpy/gl/gltexture.pyx
install/renpy/LICENSE.txt
install/renpy/lint.py
install/renpy/loader.py
install/renpy/loadsave.py
install/renpy/log.py
install/renpy/main.py
install/renpy/memory.py
install/renpy/minstore.py
install/renpy/object.py
install/renpy/parser.py
install/renpy/persistent.py
install/renpy/preferences.py
install/renpy/pyanalysis.py
install/renpy/python.py
install/renpy/savelocation.py
install/renpy/screenlang.py
install/renpy/script.py
install/renpy/scriptedit.py
install/renpy/sl2/__init__.py
install/renpy/sl2/slast.py
install/renpy/sl2/sldisplayables.py
install/renpy/sl2/slparser.py
install/renpy/sl2/slproperties.py
install/renpy/statements.py
install/renpy/style.pxd
install/renpy/style.pyx
install/renpy/styledata/__init__.py
install/renpy/styledata/styleclass.pyx
install/renpy/styledata/stylesets.pyx
install/renpy/styledata/styleutil.py
install/renpy/substitutions.py
install/renpy/test/__init__.py
install/renpy/test/testast.py
install/renpy/test/testexecution.py
install/renpy/test/testfocus.py
install/renpy/test/testkey.py
install/renpy/test/testmouse.py
install/renpy/test/testparser.py
install/renpy/text/__init__.py
install/renpy/text/extras.py
install/renpy/text/font.py
install/renpy/text/ftfont.pyx
install/renpy/text/linebreak.pxi
install/renpy/text/text.py
install/renpy/text/textsupport.pxd
install/renpy/text/textsupport.pyx
install/renpy/text/texwrap.pyx
install/renpy/translation/__init__.py
install/renpy/translation/dialogue.py
install/renpy/translation/extract.py
install/renpy/translation/generation.py
install/renpy/translation/merge.py
install/renpy/translation/scanstrings.py
install/renpy/ui.py
install/renpy/vc_version.py
install/renpy/warp.py
install/errors.txt
install/traceback.txt
*.ogg
install/game/rpatool.py
rpatool
